@import "tailwindcss";

@theme {
  --color-obsidian: #313852;
  --color-bone: #F7F4EB;
  --color-bone-darker: #ECE8D9;
  --color-gold: #453713;
  --color-gold-light: #D9CDB0;
}

@layer base {
  body {
    @apply bg-bone text-neutral-800;
  }
}

:root {
  --obsidian: #313852;
  --bone: #F7F4EB;
  --bone-darker: #ECE8D9;
  --gold: #453713;
  --radius-organic: 32px;
}

/* PWA: Evitar el bounce scroll en iOS */
html, body {
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

/* PWA: Safe area para iPhone con notch */
#root {
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}